#######################################################
# Resource file for the the AutoRemesh script object
#######################################################

module 	-name 		"AutoRemesh" \
		-primary	"HxSurface" \
		-package	"hxscriptobj" \
		-category	"myScriptObjects" \
		-proc {
			set mod [[create HxScriptObject] setLabel AutoRemesh]
			$mod script setValue $AMIRA_LOCAL/share/script-objects/AutoRemesh.scro
			$mod fire
			$mod data connect $PRIMARY
			$PRIMARY deselect 
			$mod compute 
		}
		 
